<%= stylesheet_link_tag 'new', :media => "all" %>

<p><strong>ニックネーム:</strong><%= @name %></p>

<p><strong>＃</strong><%= @hash %></p>

<%= image_tag("#{@image}", :alt => 'poster') %>

<div>
  <%= form_tag(movies_search_path, method: :get) do %>
    <%= search_field_tag :looking_for, nil, placeholder: 'Movie Title...' %>
    <%= submit_tag '検索' %>
  <% end %>
</div>


<a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" target="_blank" href="https://twitter.com/intent/tweet?

text=<%= @name %>さんの<%= @hash %>！URLを押すと映画のポスターが見れるよ！<%= @image %>;
hashtags=&amp;
url=https://moviepresent.herokuapp.com/&amp;"
>


Twitterで投稿する</a>