<!DOCTYPE html>
<html>
  <head>
    <title>Film</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

   
  </head>
  <body>
  <header>
    <h1>Movie Present</h1>
    <h2>お気に入りの映画をみんなに広めよう</h2>
  </header>
    <%= yield %>
    <footer>
    
    </footer>
  </body>
</html>
