<!DOCTYPE html>
<html>
  <head>
    <title>Film</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta property="og:url" content="https://moviepresent.herokuapp.com/" /> 
    <meta property="og:title" content="movie present" /> 
    <meta property="og:image" content="#{image}" /> 
    <meta property="og:description" content="おすすめの映画をみんなに紹介しよう" /> 

    <meta name="twitter:card" content="summary_large_image" /> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
